/* @import '@fontsource/manrope'; */
/* @import '@fontsource/jetbrains-mono'; */
@font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
}

html {
	/* font */
	/* --font-sans: 'Manrope', sans-serif; */
	/* --font-mono: 'JetBrains Mono', monospace; */
	/* font-family: "Macondo Swash Caps"; */
	font-family: 'Departure Mono', monospace;

	/* dark */
	--brand-dark: #cd4848;
	--text-1-dark: var(--gray-5); /*#c7b0a1; */ /*var(--gray-3);*/
	--text-2-dark: var(--gray-5);
	--surface-1-dark: black; /*#274360;*/
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gray-9);
	--border-dark: var(--gray-9);

	/* light */
	--brand-light: var(--orange-10);
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: none;
	--border-light: var(--gray-4);
	
}

:root {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	/* accent-color: var(--link); */
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: var(--size-7);
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}

.prose pre {
	max-inline-size: 100%;
	padding: var(--size-3);
	border-radius: 8px;
	tab-size: 2;
}

h1 {
	color: var(--brand);
	/* font-style: italic; */
	text-shadow: #4e4691 1px 0 10px;
}


body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 50px 50px black;
	z-index:-1;
}


main {
	margin-top: 4rem;
	max-inline-size: var(--size-content-3);
	margin-inline: auto;
}



html {
	filter: url(#bloomFilter);
  }

  html:before, html:after {
	display: block;
	pointer-events: none;
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
  }

  html:before {
	z-index: 2147483649;
	opacity: 0.75;
	height: 0.2rem;
  }

  html:after {
	height:100%;
	z-index: 2147483648;
  }

  html:before {
	background: rgba(0, 0, 0, 0.25);
	-webkit-animation: scan-moving 6s linear infinite;
			animation: scan-moving 6s linear infinite;
  }
  html:after {
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.25) 51%);
	background-size: 100% 0.4rem;
	-webkit-animation: scan-crt 1s steps(60) infinite;
			animation: scan-crt 1s steps(60) infinite;
  }
  html > .contents {
	-webkit-animation: crt-power-on 4s forwards linear;
			animation: crt-power-on 4s forwards linear;
  }

  @-webkit-keyframes scan-moving {
	0% {
	  transform: translate3d(0, 100vh, 0);
	}
  }

  @keyframes scan-moving {
	0% {
	  transform: translate3d(0, 100vh, 0);
	}
  }
  @-webkit-keyframes scan-crt {
	0% {
	  background-position: 0 50%;
	}
  }
  @keyframes scan-crt {
	0% {
	  background-position: 0 50%;
	}
  }
  @-webkit-keyframes blink {
	to {
	  visibility: hidden;
	}
  }
  @keyframes blink {
	to {
	  visibility: hidden;
	}
  }

  body:before {
	content: '';
	background-image: url('/digicross_red.jpeg');
	background-position: top;
	filter: hue-rotate(333deg) brightness(0.8);
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}